<html>
<head>
<title>LOAN PREDICTION</title>
</head>
<body style="background-color: rgba(17, 37, 8, 0.281);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOAN PREDICTION MODEL 
    <form action="/predict_loan" method ="POST">
        <img src="static\LoanP.jpg">
        <br>
        <br><br><br><br>
        <label>LoanAmount</label><input type="text" name ="LoanAmount"><br><br>
        <label>Credit_History</label><input type="text" name ="Credit_History"><br><br>
        <label>Property_Area</label><input type="text" name ="Property_Area"><br><br>
         
        <input type="submit">
        <br><br>
        
    </form>
    
</body>
</html>