<html>
<head>
<title>Heart</title>
</head>
<body style="background-color: rgba(17, 37, 8, 0.281);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Heart_Failure_Project 
    <form action="/medic" method ="POST">
        <img src="static\Input.jpg">
        <br>
        <br><br><br><br>
        <label>age</label><input type="text" name ="age"><br><br>
        <label>creatinine_phosphokinase</label><input type="text" name ="creatinine_phosphokinase"><br><br>
        <label>diabetes</label><input type="text" name ="diabetes"><br><br>
        <label>ejection_fraction</label><input type="text" name ="ejection_fraction"><br><br>
        <label>platelets</label><input type="text" name ="platelets"><br><br>
        <label>serum_creatinine</label><input type="text" name ="serum_creatinine"><br><br>
        <label>serum_sodium</label><input type="text" name ="serum_sodium"><br><br>
        <label>sex</label><input type="text" name ="sex"><br><br>
        <label>time</label><input type="text" name ="time"><br><br>
        

        <input type="submit">
        <br><br>
        
    </form>
    
</body>
</html>